@use "../generales/variables" as c;

/* HEADER */

.header {
  position: sticky;
  top: 0px;
  z-index: 100;
    img {
        width: 85px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: 5px;
    }
    ul {
        margin-right: 20px;
    }
}


.navbar-nav {
    .nav-link {
        &.active, &.show {
            color: rgb(66, 3, 95);
            font-weight: bold;
        }
    }
}


/*               MENU HAMBURGUESA                    */


.navbar-toggler {
    // Estilos base para el botón del menú
    border: none;
    border-radius: 100px;
    
    // Anidamos los estilos de los estados del botón
    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:active {
        background-color: rgba(89, 11, 81, 0.5);
    }

    // Anidamos los estilos del ícono que está dentro del botón
    i {
        color: c.$purpura-oscuro;
        font-size: 1.8rem;
    }
}