@use "../generales/variables" as c;


.main-contacto {
    color: c.$carbon;
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
}


/* Estilos del Desktop */

.contacto-flex-container {
    display: flex; 
    justify-content: center; 
    align-items: stretch; 
    gap: 40px; // espacio entre formulario e imagen
    margin-top: 30px; 
}

.contacto-form-wrapper {
    flex: 1; 
    max-width: 800px; 
}

// Contenedor de imagen (Visible por defecto en Desktop)

.contacto-imagen-desktop {
    flex: 1; 
    max-width: 400px;
    min-height: 600px;   
    display: flex;      
    align-items: stretch;
    img {
        width: 100%;
        height: 100%;          
        object-fit: cover;     
        border-radius: 8px;
        display: block;
    }
}


/* Estilos del Formulario */

fieldset {
    margin-left: 0; 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.formulario-contacto {

    display: flex;
    flex-direction: column; 
    padding: 10px;
    width: 100%; 
    

    label {
        margin-top: 15px; 
        margin-bottom: 5px;
        font-weight: bold;
        color: c.$carbon; 
    }
    textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px; 
    }
    .boton-enviar {
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;
    }

    textarea {
        width: 100%;
        box-sizing: border-box; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}


/* Media Query para Mobile/Tablet (La imagen desaparece) */

@media screen and (max-width: 800px) {
    .contacto-flex-container {
        flex-direction: column; 
        align-items: stretch;
        gap: 20px;
    }

    .contacto-imagen-desktop {
        display: none; 
    }

    .contacto-form-wrapper {
        width: 100%; 
        max-width: 500px; 
    }
}