@use "../generales/variables" as c;
@use "../generales/generales";
@use "../generales/headerFooter";


.main-contacto {
  color: c.$carbon;
}

fieldset {
  margin-left: 20px;
  .boton-enviar {
    margin-bottom: 20px;
    }
}

.formulario-contacto {
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    width: 50%;
    label {
        margin-top: 15px; 
        margin-bottom: 5px;
        font-weight: bold;
        color: c.$carbon; 
    }
    textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px; 
    }
    .boton-enviar {
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;

    }
  }

